@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    /* background-color: #f4fcfc; */
    background: rgb(242,234,211);
    background: linear-gradient(133deg, rgba(242,234,211,1) 32%, rgba(191,204,181,1) 65%);
    background-size: 100% 100%;
    background-attachment: fixed;
}

